<!DOCTYPE html>
<html ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">
    <script src="angular/angular.min.js"></script>
	<script src="angular/angular-animate.js"></script>
	<script src="angular/angular-material.js"></script>
	<script src="js/ng-flags.js"></script>
    <script src="app.js"></script>
	<link href="Fontawesome/font-awesome.min.css" rel="stylesheet">
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
	
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
	<link href="angular/angular-material.css" rel="stylesheet">
    <title>Datametica Fantasy League</title>
  </head>
  <body>
    <div class="fantasy-league" ng-controller="FantasyLeagueController">
		<div class="header">
			<img width ="180" height="50"src="images/FantasyLeagueLogo.jpg" >
			
			<a target="_blank" href="https://www.facebook.com/datametica1/"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
			<a target="_blank" href="https://twitter.com/DataMetica"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
			<a target="_blank" href="https://www.youtube.com/channel/UCTBR2-f1mDSSpwD0BteETPQ"><i style="border-left:1px solid #032e48;" class="fa fa-2x fa-youtube" aria-hidden="true"></i></a>
			<span style="float:right;color:white;font-size:18px;padding-top:13px;"></span>
			<span style="margin-top: 30px;position: absolute;padding-left: 10px;color: #ded0d0;">
			</span>
			
		</div>
		
		<!--div class="winnerPanel col-md-12">
			<div class="leaderChip col-md-2 col-sm-4">
				<span class="leaderHeader col-md-12"><span >DAILY WINNER</span> <i class="fa fa-trophy"></i></span>
				<div class="col-md-12">
				<span class="leaderUser col-md-12" ><img width="20" height="20" src="images/user-icon.png"/> <span>Parag Saxena</span><i style="color:#ffd916;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				
				<span class="leaderUser col-md-12" ><img width="20" height="20" src="images/user-icon.png"/> <span>Mudit Nagar</span><i style="color:#ecece5;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				<span class="leaderUser col-md-12" ><img width="20" height="20" src="images/user-icon.png"/> <span>Jasvinder Singh Chug</span><i style="color:#d08152;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				</div>
			</div>
			<div>
				
			</div>
			<div class="leaderChip col-md-2 col-sm-4">
				<span class="leaderHeader col-md-12 col-sm-12"><span>OVERALL WINNER</span><i class="fa fa-trophy"></i></span>
				<div class="col-md-12 col-sm-12">
				<span class="leaderUser col-md-12 col-sm-6"><img width="20" height="20" src="images/user-icon.png"/> <span>Team Alpha</span><i style="color:#ffd916;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				<span class="leaderUser col-md-12 col-sm-6"><img width="20" height="20" src="images/user-icon.png"/> <span>Team Beta</span><i style="color:#ecece5;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				<span class="leaderUser col-md-12 col-sm-6"><img width="20" height="20" src="images/user-icon.png"/> <span>Team Gamma</span><i style="color:#d08152;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="leaderChip col-md-2 col-sm-4">
				<span class="leaderHeader col-md-12"><span>LEAGUE WINNER</span><i class="fa fa-trophy"></i></span>
				<div class="col-md-12">
				<span class="leaderUser col-md-12"><img width="20" height="20" src="images/user-icon.png" /> <span>Team Sabastien</span><i style="color:#ffd916;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				<span class="leaderUser col-md-12"><img width="20" height="20" src="images/user-icon.png" /> <span>Team Pidepipper</span><i style="color:#ecece5;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				<span class="leaderUser col-md-12"><img width="20" height="20" src="images/user-icon.png" /> <span>Team Sully</span><i style="color:#d08152;float:right;padding-top:15px;" class="fa fa-trophy" aria-hidden="true"></i></span>
				</div>
			</div>
			
		
		</div-->
		<div class="panelBody">
			<div class="col-md-11 scoreboardPanel">
				<div class="col-md-5">
				<span class="col-md-2"><img style="margin-top:35px" width="90" height="90" src="images/bating.png"/></span>
				<div style="margin-top:65px" class="col-md-10">
					<span class="col-md-8" style="color:black;font-size:14px;">Datametica Presents</span>
					<span class="col-md-12" style="color:black;font-size:20px;"><a style="margin-left:-20px;" href="http://fantasy.icc-cricket.com/" target ="_blank" style="margin-top:10px;" class="col-md-12">Fantasy League Champions Trophy 2017</a></span>
				</div>
				{{}}
				</div>
				<div class="col-md-6">
					
					<div class="leaderChip col-md-5">
						<span class="leaderHeader col-md-12"><span >Yesterday's Winner</span> <i class="fa fa-trophy"></i></span>
							<div width="150" style="background:#f1a351;" class="col-md-12">
								<img class="col-md-6" height="100" width="100" ng-src="images/winner.jpg"/>
								<span style="color:black;font-size:12px;font-weight:bold">Dewakar Prasad</span><br/>
								<!--span style="color:black;font-size:12px;margin-top:10%;" class="matchName"><flag country="pk" size="16"></flag>PAK VS <flag country="in" size="16"></flag>IND</span-->
							</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
			
			<div style="margin-left:2%;" class="leaderTable col-md-7">
			<div class="leaderboardPanelHeader">Leaderboard Individual<span class="matchName"> Match 8</span> <span style="color:black;font-size:12px;font-weight:bold;padding-left:15px;">08/06/2017</span></div>
			<!--table class="table table-hover table-responsive table-striped">
				<thead>
					<tr>
						<th ng-class="selectedCls('name')" ng-click="changeSorting('name')">
							Team Name <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
								<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
						</th>
						<th ng-class="selectedCls('date')" ng-click="changeSorting('yesterdayPoint')">Yesterday's Point 
						<i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
							<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
						</th>
						<th ng-class="selectedCls('date')" ng-click="changeSorting('total')">Total 
						<i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
							<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
						</th>
						<th ng-class="selectedCls('date')" ng-click="changeSorting('rank')">Rank
							<i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
							<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
						</th>
					</tr>
				</thead>
				<div style="overflow:auto;max-height:100px">
				<tbody >
					<tr ng-repeat="item in tournament | orderBy:Total">
          
					
						<td>{{item.properties.Team}}</td>
						<td>{{item.yesterdayPoint}}</td>
						<td>{{item.properties.Total}}</td>
						<td>{{$index+1}}</td>
					</tr>
				</tbody>
				</div>
			</table-->
			<div class="ecat-table" >

                <div class="table-head">
                    <table class="table table-striped">
                        <thead>
                        <tr>
							<th  width="10%">Rank
                            </th>
                            <th class="showBorder" width="18%">Team Name
                            </th>
                            <th  width="18%">Owner
                            </th>
							<th  width="18%">Group Name
                            </th>
							 <th  width="16%">Yesterday's Point
                            </th>
							 <th >Total
                            </th>
							 
						</tr>
                        </thead>
                    </table>
                </div>

                <div class="table-body ecat-scrollnew showBottomBorder" scroll-change >
                    <table class="table table-striped summary" >
                        <tbody>
                      
                        <tr class="topTable" ng-repeat="item in tournament | orderBy:'properties.Total':true ">
							<td width="10%">{{$index + 1}}
                            </td>
                        	<td width="19%" class="showBorder">{{item.properties.Team_Name}}
                            </td>
                            <td width="19%">{{item.properties.Manager}}
                            </td>
							<td width="19%">{{item.properties.Group_Name}}
                            </td>
							 <td width="16%">{{item.properties.Match8}}
                            </td>
							 <td width="">{{item.properties.Total}}
                            </td>
							
						</tr>
						</tbody>
                    </table>
                </div>

            </div>
			</div>
			
			<div style="margin-left: 10px;" class="leaderTable col-md-4">
			<div class="leaderboardPanelHeader">Leaderboard Team </div>
			<!--table class="table table-hover table-responsive table-striped">
				<thead>
					<tr>
						<th ng-class="selectedCls('id')" ng-click="changeSorting('name')">
							Group Name <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
								<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
						</th>
						
						<th ng-class="selectedCls('date')" ng-click="changeSorting('date')">Total Points 
						<i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
							<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
						</th>
						<th ng-class="selectedCls('date')" ng-click="changeSorting('rank')">Rank
						<i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
							<i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
						</th>
					</tr>
				</thead>
				<tbody style="overflow:auto;max-height:400px">
					<tr ng-repeat="item in data | orderBy:sort.column:sort.descending">
          
						<td>{{item.name}}</td>
						<td>{{item.total}}</td>
						<td>{{item.rank}}</td>
					</tr>
				</tbody>
			</table-->
			<div class="ecat-table" >

                <div class="table-head">
                    <table class="table table-striped">
                        <thead>
                        <tr>
							<th  width="18%">Rank
                            </th>
                            <th class="showBorder" width="40%">Group Name
                            </th>
                            <th  width="40%">Total
                            </th>
							 
							 
						</tr>
                        </thead>
                    </table>
                </div>

                <div class="table-body ecat-scrollnew showBottomBorder" scroll-change >
                    <table class="table table-striped summary" >
                        <tbody>
                      
                        <tr class="topTable" ng-repeat="item in leagueTotal | orderBy:Total">
							<td width="18%">{{$index + 1}}
                            </td>
                        	<td width="40%" class="showBorder">{{item.Group_Name}}
                            </td>
                            <td width="40%">{{item.Group_Total}}
                            </td>
							 
						</tr>
						</tbody>
                    </table>
                </div>

            </div>
			</div>
			</div>
			
			
		</div>
		
    </div>
  </body>
</html>
